.section7-child {
  position: absolute;
  top: 0;
  left: 226.6px;
  background-color: var(--color-gray-400);
  width: 1470px;
  height: 544.9px;
}
.vector-icon,
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  height: 13.72%;
  width: 0.63%;
  top: 81.62%;
  right: 17.65%;
  bottom: 4.66%;
  left: 81.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  height: 19.75%;
  width: 0.39%;
  top: 75.99%;
  right: 24.09%;
  bottom: 4.25%;
  left: 75.52%;
}
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  height: 15.5%;
  width: 0.57%;
  top: 80.25%;
  right: 21.95%;
  left: 77.47%;
}
.vector-icon3,
.vector-icon4 {
  width: 0.55%;
  right: 19.85%;
  left: 79.61%;
}
.vector-icon4 {
  height: 13.31%;
  width: 0.49%;
  top: 83.13%;
  right: 15.6%;
  bottom: 3.57%;
  left: 83.91%;
}
.edupoint-all-rights-container {
  position: absolute;
  top: 52.4px;
  left: 255.2px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 305.2px;
  height: 20.5px;
}
.bottom,
.bottom-child {
  position: absolute;
  left: 0;
}
.bottom-child {
  top: 0;
  background-color: var(--color-gainsboro-100);
  width: 1960px;
  height: 1px;
}
.bottom {
  height: 18.03%;
  width: 100%;
  top: 81.97%;
  right: 0;
  bottom: 0;
  font-family: var(--font-plus-jakarta-sans);
}
.contact-us,
.help-center,
.report-a-problem,
.suggesting-edits {
  margin: 0;
}
.help,
.help-center-report-container {
  position: absolute;
  left: 1480.2px;
  display: inline-block;
}
.help-center-report-container {
  top: 74.9px;
  letter-spacing: 0.1em;
  line-height: 230%;
  text-transform: uppercase;
  font-weight: 500;
  width: 188.9px;
  height: 151.9px;
}
.help {
  top: 12.3px;
  font-size: var(--font-size-9xl);
  text-transform: capitalize;
  width: 61.3px;
  height: 32.8px;
}
.my-wishlist,
.sign-in,
.view-cart {
  margin: 0;
}
.my-account,
.sign-in-view-container {
  position: absolute;
  left: 994.3px;
  display: inline-block;
}
.sign-in-view-container {
  top: 74.9px;
  letter-spacing: 0.1em;
  line-height: 230%;
  text-transform: uppercase;
  font-weight: 500;
  width: 123.5px;
  height: 113.9px;
}
.my-account {
  top: 12.3px;
  font-size: var(--font-size-9xl);
  text-transform: capitalize;
  width: 152.1px;
  height: 32.8px;
}
.advanced-search,
.courses,
.home,
.subjects,
.teachers {
  margin: 0;
}
.home-courses-teachers-container {
  position: absolute;
  top: 74.9px;
  left: 1242.4px;
  letter-spacing: 0.1em;
  line-height: 230%;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 177.6px;
  height: 189.8px;
}
.discover {
  position: absolute;
  top: 12.2px;
  left: 1246px;
  font-size: var(--font-size-9xl);
  text-transform: capitalize;
  display: inline-block;
  width: 111.3px;
  height: 32.8px;
}
.span1 {
  color: #777;
}
.articles,
.careers,
.donate,
.service-terms,
.vision {
  margin: 0;
}
.vision-articles-careers-container {
  position: absolute;
  top: 75.2px;
  left: 776px;
  letter-spacing: 0.1em;
  line-height: 230%;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 140.9px;
  height: 189.8px;
}
.about-us,
.edupoint {
  position: absolute;
  top: 12.2px;
  left: 776px;
  font-size: var(--font-size-9xl);
  text-transform: capitalize;
  display: inline-block;
  width: 120.5px;
  height: 32.8px;
}
.edupoint {
  top: 0;
  left: 289.9px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0a0a0a;
  width: 209.3px;
  height: 47.2px;
}
.footer {
  position: absolute;
  height: 68.53%;
  width: 100%;
  top: 12%;
  right: 0;
  bottom: 19.47%;
  left: 0;
}
.section7-inner,
.section7-item {
  position: absolute;
  top: 58.5px;
  left: 280.6px;
  background-color: var(--color-gray-400);
  width: 250.3px;
  height: 87.2px;
}
.section7-inner {
  top: 419.7px;
  left: 248.3px;
  width: 384.5px;
  height: 170.3px;
}
.section7 {
  position: absolute;
  top: 2234px;
  left: -251px;
  width: 1960px;
  height: 590px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.card-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 430px;
  height: 330px;
  opacity: 0.4;
}
.card-item,
.stars-icon {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.card-item {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.public-speaking {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card,
.card-inner {
  position: absolute;
  top: 0;
  left: 440px;
  width: 430px;
  height: 330px;
}
.card-inner {
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.rectangle-icon,
.stars-icon1 {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.rectangle-icon {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.good-habits {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card1,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 880px;
  width: 430px;
  height: 330px;
}
.rectangle-div {
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.stars-icon2 {
  top: 291px;
  width: 124px;
  height: 24px;
}
.card-child1,
.soft-skill,
.stars-icon2 {
  position: absolute;
  left: 13px;
}
.card-child1 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.soft-skill {
  top: 257px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child2,
.card2,
.row-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 330px;
}
.card-child2,
.row-2 {
  top: 582px;
  left: 65px;
  width: 1310px;
}
.card-child2 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 430px;
  opacity: 0.4;
}
.stars-icon3 {
  top: 291px;
  width: 124px;
  height: 24px;
}
.all-in-one,
.card-child3,
.stars-icon3 {
  position: absolute;
  left: 13px;
}
.card-child3 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.all-in-one {
  top: 257px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child4,
.card3 {
  position: absolute;
  top: 0;
  left: 440px;
  width: 430px;
  height: 330px;
}
.card-child4 {
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.card-child5,
.stars-icon4 {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.card-child5 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.full-photoshop {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child6,
.card4 {
  position: absolute;
  top: 0;
  left: 880px;
  width: 430px;
  height: 330px;
}
.card-child6 {
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.card-child7,
.stars-icon5 {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.card-child7 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.video-editing {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child8,
.card5,
.row-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 330px;
}
.card-child8,
.row-3 {
  top: 986px;
  left: 65px;
  width: 1310px;
}
.card-child8 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 430px;
  opacity: 0.4;
}
.card-child9,
.stars-icon6 {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.card-child9 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.basic-sketching {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child10,
.card6 {
  position: absolute;
  top: 0;
  left: 440px;
  width: 430px;
  height: 330px;
}
.card-child10 {
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.card-child11,
.stars-icon7 {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.card-child11 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.videography {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child12,
.card7 {
  position: absolute;
  top: 0;
  left: 880px;
  width: 430px;
  height: 330px;
}
.card-child12 {
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.card-child13,
.stars-icon8 {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.card-child13 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.color-theory {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child14,
.card8,
.row-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 330px;
}
.card-child14,
.row-5 {
  top: 1794px;
  left: 65px;
  width: 1310px;
}
.card-child14 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 430px;
  opacity: 0.4;
}
.stars-icon9 {
  top: 291px;
  width: 124px;
  height: 24px;
}
.card-child15,
.play-piano,
.stars-icon9 {
  position: absolute;
  left: 13px;
}
.card-child15 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.play-piano {
  top: 257px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child16,
.card9 {
  position: absolute;
  top: 0;
  left: 440px;
  width: 430px;
  height: 330px;
}
.card-child16 {
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.card-child17,
.stars-icon10 {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.card-child17 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.play-guitar {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child18,
.card10 {
  position: absolute;
  top: 0;
  left: 880px;
  width: 430px;
  height: 330px;
}
.card-child18 {
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.stars-icon11 {
  top: 291px;
  width: 124px;
  height: 24px;
}
.card-child19,
.play-drums,
.stars-icon11 {
  position: absolute;
  left: 13px;
}
.card-child19 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.play-drums {
  top: 257px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child20,
.card11,
.row-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 330px;
}
.card-child20,
.row-4 {
  top: 1390px;
  left: 65px;
  width: 1310px;
}
.card-child20 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 430px;
  opacity: 0.4;
}
.card-child21,
.stars-icon12 {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.card-child21 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.full-stack-java {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child22,
.card12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 330px;
}
.card-child22 {
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.stars-icon13 {
  top: 291px;
  width: 124px;
  height: 24px;
}
.card-child23,
.ccc,
.stars-icon13 {
  position: absolute;
  left: 13px;
}
.card-child23 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.ccc {
  top: 257px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card-child24,
.card13 {
  position: absolute;
  top: 0;
  left: 880px;
  width: 430px;
  height: 330px;
}
.card-child24 {
  left: 0;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  opacity: 0.4;
}
.card-child25,
.stars-icon14 {
  position: absolute;
  top: 291px;
  left: 13px;
  width: 124px;
  height: 24px;
}
.card-child25 {
  top: 13px;
  width: 404px;
  height: 235px;
  object-fit: cover;
}
.machine-learning {
  position: absolute;
  top: 257px;
  left: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.card14,
.nav-bar-item,
.row1 {
  position: absolute;
  top: 0;
  left: 440px;
  width: 430px;
  height: 330px;
}
.nav-bar-item,
.row1 {
  top: 178px;
  left: 65px;
  width: 1310px;
}
.nav-bar-item {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 1440px;
  height: 113px;
}
.span2 {
  color: var(--black-900);
}
.about1,
.span2 {
  white-space: pre-wrap;
}
.courses1 {
  color: var(--black-900);
}
.contact1 {
  white-space: pre-wrap;
}
.home-about-resource-container1,
.neoris1 {
  position: absolute;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.home-about-resource-container1 {
  top: 41px;
  left: 459px;
  display: inline-block;
  width: 713px;
  height: 34px;
}
.neoris1 {
  top: 32px;
  left: 53px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.search-btn-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 148px;
  height: 45.2px;
}
.search1 {
  position: absolute;
  top: 10px;
  left: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: inline-block;
  width: 92.3px;
  height: 27.9px;
}
.icon-search1 {
  position: absolute;
  height: 44.25%;
  width: 13.51%;
  top: 26.55%;
  right: 8.11%;
  bottom: 29.2%;
  left: 78.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-btn1 {
  position: absolute;
  top: 32px;
  left: 1226px;
  width: 148px;
  height: 45.2px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.nav-bar1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 113px;
  color: var(--color-silver);
}
.website-logo-1-icon {
  position: absolute;
  top: 2389px;
  left: 24px;
  width: 471px;
  height: 96px;
  object-fit: cover;
}
.courses-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2765px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-300);
  font-family: var(--font-ubuntu);
}
