.background-child {
  background-color: var(--color-whitesmoke-100);
}
.background,
.background-child,
.license {
  position: absolute;
  top: 0;
  left: 0;
  width: 1653.5px;
  height: 1580px;
}
.license {
  left: 281px;
  width: 41.5px;
  height: 18px;
}
.blog,
.license,
.simmmple {
  line-height: 150%;
  display: inline-block;
}
.blog {
  position: absolute;
  top: 0;
  left: 212.5px;
  width: 24.5px;
  height: 18px;
}
.simmmple {
  left: 111.5px;
  width: 57px;
}
.creative-tim,
.menu,
.simmmple {
  position: absolute;
  top: 0;
  height: 18px;
}
.creative-tim {
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 67.5px;
}
.menu {
  left: 1277.5px;
  width: 322.5px;
}
.creative-tim1,
.simmmple1 {
  color: var(--color-lightseagreen);
}
.made-with-container {
  line-height: 150%;
  display: inline-block;
}
.copyright,
.footer-menu,
.made-with-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 372.5px;
  height: 18px;
}
.footer-menu {
  top: 1538.5px;
  left: 31.5px;
  width: 1600px;
}
.background-item {
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
}
.background-item,
.background1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 519px;
  height: 519px;
}
.dec-441-pm,
.new-order-9851258 {
  position: absolute;
  top: 24px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 91px;
  height: 18px;
}
.new-order-9851258 {
  top: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  color: var(--gray-gray-700);
  width: 135px;
  height: 19.5px;
}
.icon,
.title {
  position: absolute;
  top: 0.5px;
  left: 37px;
  width: 135px;
  height: 42px;
}
.icon {
  top: 0;
  left: 0;
  width: 20px;
  height: 19.5px;
}
.line-icon,
.new-card-added {
  position: absolute;
  top: 24.5px;
  left: 9px;
  width: 0;
  height: 18px;
}
.new-card-added {
  top: 332px;
  left: 0;
  width: 172px;
  height: 42.5px;
}
.dec-1135-pm,
.unlock-packages-for {
  position: absolute;
  top: 24px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 97px;
  height: 18px;
}
.unlock-packages-for {
  top: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  color: var(--gray-gray-700);
  width: 229px;
  height: 19.5px;
}
.icon1,
.title1 {
  position: absolute;
  top: 0;
  left: 35px;
  width: 229px;
  height: 42px;
}
.icon1 {
  height: 26.23%;
  width: 6.06%;
  top: 1.64%;
  right: 93.94%;
  bottom: 72.13%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.line-icon1 {
  position: absolute;
  top: 24px;
  left: 7px;
  width: 0;
  height: 37px;
}
.dec-352-pm,
.new-card-added1 {
  position: absolute;
  top: 266px;
  left: 2px;
  width: 264px;
  height: 61px;
}
.dec-352-pm {
  top: 24px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 91px;
  height: 18px;
}
.icon2,
.new-card-added3,
.title2 {
  position: absolute;
  top: 0;
  width: 236px;
}
.new-card-added3 {
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  height: 19.5px;
}
.icon2,
.title2 {
  left: 35px;
  height: 42px;
}
.icon2 {
  height: 26.23%;
  width: 5.9%;
  top: 2.46%;
  right: 94.1%;
  bottom: 71.31%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.line-icon2,
.new-card-added2 {
  position: absolute;
  top: 24px;
  left: 7px;
  width: 0;
  height: 37px;
}
.new-card-added2 {
  top: 199.5px;
  left: 2px;
  width: 271px;
  height: 61px;
}
.dec-928-pm,
.server-payments-for {
  position: absolute;
  top: 24px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 91px;
  height: 18px;
}
.server-payments-for {
  top: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  color: var(--gray-gray-700);
  width: 172px;
  height: 19.5px;
}
.icon3,
.title3 {
  position: absolute;
  top: 0;
  left: 35px;
  width: 172px;
  height: 42px;
}
.icon3 {
  height: 26.23%;
  width: 7.73%;
  top: 1.64%;
  right: 92.27%;
  bottom: 72.13%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.line-icon3 {
  position: absolute;
  top: 24px;
  left: 7px;
  width: 0;
  height: 37px;
}
.dec-1121-pm,
.server-payments-for-april {
  position: absolute;
  top: 133px;
  left: 2px;
  width: 207px;
  height: 61px;
}
.dec-1121-pm {
  top: 24px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 97px;
  height: 18px;
}
.icon4,
.new-order-4219423,
.title4 {
  position: absolute;
  top: 0;
  width: 135px;
}
.new-order-4219423 {
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  height: 19.5px;
}
.icon4,
.title4 {
  left: 35px;
  height: 42px;
}
.icon4 {
  height: 26.23%;
  width: 9.41%;
  top: 2.46%;
  right: 90.59%;
  bottom: 71.31%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.line-icon4 {
  position: absolute;
  top: 24px;
  left: 7px;
  width: 0;
  height: 37px;
}
.dec-720-pm,
.new-order {
  position: absolute;
  top: 66.5px;
  left: 2px;
  width: 170px;
  height: 61px;
}
.dec-720-pm {
  top: 24px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 91px;
  height: 18px;
}
.design-changes1,
.icon5,
.title5 {
  position: absolute;
  top: 0;
  width: 154.5px;
}
.design-changes1 {
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  height: 19.5px;
}
.icon5,
.title5 {
  left: 35px;
  height: 42px;
}
.icon5 {
  height: 26.23%;
  width: 8.44%;
  top: 2.46%;
  right: 91.56%;
  bottom: 71.31%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.line-icon5 {
  position: absolute;
  top: 24px;
  left: 7px;
  width: 0;
  height: 37px;
}
.design-changes,
.items,
.list {
  position: absolute;
  top: 0;
  left: 2px;
  width: 189.5px;
  height: 61px;
}
.items,
.list {
  left: 0;
  width: 273px;
  height: 374.5px;
}
.list {
  top: 113.5px;
  left: 19px;
}
.this-month1 {
  color: var(--gray-gray-400);
}
.this-month {
  position: absolute;
  top: 31px;
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 105px;
  height: 19.5px;
}
.ioniconccheckmarkccircle {
  position: absolute;
  top: 33px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.orders-overview {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 140%;
  color: var(--gray-gray-700);
}
.text {
  position: absolute;
  top: 28px;
  left: 21px;
  width: 142px;
  height: 50.5px;
  font-size: var(--font-size-sm);
  color: var(--green-green-400);
}
.second-card {
  position: absolute;
  top: 0;
  left: 1081px;
  width: 519px;
  height: 519px;
}
.background-inner {
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
}
.background-inner,
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1057px;
  height: 519px;
}
.progress-child,
.progress-item {
  position: absolute;
  top: 24px;
  left: 0;
  border-top: 3px solid var(--gray-gray-200);
  box-sizing: border-box;
  width: 128px;
  height: 3px;
}
.progress-item {
  border-top: 3px solid var(--neoris-blu);
  width: 58.5px;
}
.b,
.progress {
  position: absolute;
  top: 0;
}
.b {
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 28.5px;
  height: 19.5px;
}
.progress {
  left: 841.5px;
  width: 125px;
  height: 24px;
  color: var(--neoris-blu);
}
.b1,
.budget,
.members-icon {
  position: absolute;
  width: 43px;
  height: 19.5px;
}
.b1 {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.budget,
.members-icon {
  top: 2.5px;
  left: 664px;
}
.members-icon {
  top: 0.5px;
  left: 450px;
  width: 74px;
  height: 23px;
  object-fit: cover;
}
.icon6,
.redesign-new-online,
.title6 {
  position: absolute;
  width: 182.5px;
  height: 19.5px;
}
.redesign-new-online {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.icon6,
.title6 {
  top: 2.5px;
  left: 37px;
}
.icon6 {
  top: 1.5px;
  left: 0;
  width: 20px;
  height: 20px;
}
.content,
.redesign-new-online-shop {
  position: absolute;
  top: 0;
  left: 0;
  width: 966.5px;
  height: 24px;
}
.redesign-new-online-shop {
  top: 310px;
}
.line-icon6 {
  position: absolute;
  top: 43px;
  left: 0;
  max-height: 100%;
  width: 1012px;
}
.line-div,
.progress-inner {
  position: absolute;
  top: 24px;
  left: 0;
  border-top: 3px solid var(--gray-gray-200);
  box-sizing: border-box;
  width: 128px;
  height: 3px;
}
.line-div {
  border-top: 3px solid var(--neoris-blu);
  width: 39px;
}
.b2,
.progress1 {
  position: absolute;
  top: 0;
}
.b2 {
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 28.5px;
  height: 19.5px;
}
.progress1 {
  left: 841.5px;
  width: 125px;
  height: 24px;
  color: var(--neoris-blu);
}
.b3,
.budget1,
.members-icon1 {
  position: absolute;
  width: 31.5px;
  height: 19.5px;
}
.b3 {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.budget1,
.members-icon1 {
  top: 2.5px;
  left: 664px;
}
.members-icon1 {
  height: 95.83%;
  width: 7.66%;
  top: 2.08%;
  right: 45.78%;
  bottom: 2.08%;
  left: 46.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.add-the-new,
.title7 {
  position: absolute;
  width: 174px;
  height: 19.5px;
}
.add-the-new {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.title7 {
  top: 2.5px;
  left: 37px;
}
.content1,
.icon7 {
  position: absolute;
  left: 0;
}
.icon7 {
  height: 87.5%;
  width: 2.07%;
  top: 6.25%;
  right: 97.93%;
  bottom: 6.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.content1 {
  top: 0;
  width: 966.5px;
  height: 24px;
}
.line-icon7,
.new-pricing-page {
  position: absolute;
  left: 0;
  width: 1012px;
}
.new-pricing-page {
  top: 248px;
  height: 43px;
}
.line-icon7 {
  top: 43px;
  max-height: 100%;
}
.progress-child1,
.progress-child2 {
  position: absolute;
  top: 24px;
  left: 0;
  border-top: 3px solid var(--gray-gray-200);
  box-sizing: border-box;
  width: 128px;
  height: 3px;
}
.progress-child2 {
  border-top: 3px solid var(--neoris-blu);
}
.b4,
.progress2 {
  position: absolute;
  top: 0;
}
.b4 {
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 36px;
  height: 19.5px;
}
.progress2 {
  left: 841.5px;
  width: 125px;
  height: 24px;
  color: var(--neoris-blu);
}
.b5,
.budget2,
.members-icon2 {
  position: absolute;
  width: 51px;
  height: 19.5px;
}
.b5 {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.budget2,
.members-icon2 {
  top: 2.5px;
  left: 664px;
}
.members-icon2 {
  height: 95.83%;
  width: 7.66%;
  top: 2.08%;
  right: 45.78%;
  bottom: 2.08%;
  left: 46.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.launch-our-mobile,
.title8 {
  position: absolute;
  width: 155.5px;
  height: 19.5px;
}
.launch-our-mobile {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.title8 {
  top: 2.5px;
  left: 37px;
}
.content2,
.icon8 {
  position: absolute;
  left: 0;
}
.icon8 {
  height: 83.33%;
  width: 2.07%;
  top: 8.33%;
  right: 97.93%;
  bottom: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.content2 {
  top: 0;
  width: 966.5px;
  height: 24px;
}
.launch-our-mobile-app,
.line-icon8 {
  position: absolute;
  left: 0;
  width: 1012px;
}
.launch-our-mobile-app {
  top: 186px;
  height: 43px;
}
.line-icon8 {
  top: 43px;
  max-height: 100%;
}
.progress-child3,
.progress-child4 {
  position: absolute;
  top: 24px;
  left: 0;
  border-top: 3px solid var(--gray-gray-200);
  box-sizing: border-box;
  width: 128px;
  height: 3px;
}
.progress-child4 {
  border-top: 3px solid var(--neoris-blu);
}
.b6,
.progress3 {
  position: absolute;
  top: 0;
}
.b6 {
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 36px;
  height: 19.5px;
}
.progress3 {
  left: 841.5px;
  width: 125px;
  height: 24px;
  color: var(--neoris-blu);
}
.budget3,
.members-icon3,
.not-set {
  position: absolute;
  width: 47.5px;
  height: 19.5px;
}
.not-set {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.budget3,
.members-icon3 {
  top: 2.5px;
  left: 664px;
}
.members-icon3 {
  top: 0.5px;
  left: 450px;
  width: 74px;
  height: 23px;
  object-fit: cover;
}
.fix-platform-errors1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 127px;
  height: 19.5px;
}
.content3,
.icon9,
.title9 {
  position: absolute;
  top: 2.5px;
  left: 37px;
  width: 127px;
  height: 19.5px;
}
.content3,
.icon9 {
  top: 1.5px;
  left: 0;
  width: 20px;
  height: 20.5px;
}
.content3 {
  top: 0;
  width: 966.5px;
  height: 24px;
}
.fix-platform-errors,
.line-icon9 {
  position: absolute;
  left: 0;
  width: 1012px;
}
.fix-platform-errors {
  top: 124px;
  height: 43px;
}
.line-icon9 {
  top: 43px;
  max-height: 100%;
}
.progress-child5,
.progress-child6 {
  position: absolute;
  top: 24px;
  left: 0;
  border-top: 3px solid var(--gray-gray-200);
  box-sizing: border-box;
  width: 128px;
  height: 3px;
}
.progress-child6 {
  border-top: 3px solid var(--neoris-blu);
  width: 21.5px;
}
.b7,
.progress4 {
  position: absolute;
  top: 0;
}
.b7 {
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 28.5px;
  height: 19.5px;
}
.progress4 {
  left: 841.5px;
  width: 125px;
  height: 24px;
  color: var(--neoris-blu);
}
.b8,
.budget4,
.members-icon4 {
  position: absolute;
  width: 43px;
  height: 19.5px;
}
.b8 {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.budget4,
.members-icon4 {
  top: 2.5px;
  left: 664px;
}
.members-icon4 {
  top: 0.5px;
  left: 450px;
  width: 74px;
  height: 23px;
  object-fit: cover;
}
.add-progress-track,
.title10 {
  position: absolute;
  width: 132.5px;
  height: 19.5px;
}
.add-progress-track {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.title10 {
  top: 2.5px;
  left: 37px;
}
.content4,
.icon10 {
  position: absolute;
  left: 0;
}
.icon10 {
  height: 83.33%;
  width: 2.07%;
  top: 6.25%;
  right: 97.93%;
  bottom: 10.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.content4 {
  top: 0;
  width: 966.5px;
  height: 24px;
}
.line-icon10,
.progress-track {
  position: absolute;
  left: 0;
  width: 1012px;
}
.progress-track {
  top: 62px;
  height: 43px;
}
.line-icon10 {
  top: 43px;
  max-height: 100%;
}
.progress-child7,
.progress-child8 {
  position: absolute;
  top: 24px;
  left: 0;
  border-top: 3px solid var(--gray-gray-200);
  box-sizing: border-box;
  width: 128px;
  height: 3px;
}
.progress-child8 {
  border-top: 3px solid var(--neoris-blu);
  width: 85.5px;
}
.b9,
.progress5 {
  position: absolute;
  top: 0;
}
.b9 {
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 28.5px;
  height: 19.5px;
}
.progress5 {
  left: 841.5px;
  width: 125px;
  height: 24px;
  color: var(--neoris-blu);
}
.b10,
.budget5,
.members-icon5 {
  position: absolute;
  width: 51px;
  height: 19.5px;
}
.b10 {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.budget5,
.members-icon5 {
  top: 2.5px;
  left: 664px;
}
.members-icon5 {
  top: 0.5px;
  left: 450px;
  width: 74px;
  height: 23px;
  object-fit: cover;
}
.chakra-soft-ui,
.content5,
.icon11,
.title11 {
  position: absolute;
  width: 151.5px;
  height: 19.5px;
}
.chakra-soft-ui {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
}
.content5,
.icon11,
.title11 {
  top: 2.5px;
  left: 37px;
}
.content5,
.icon11 {
  top: 2px;
  left: 0;
  width: 20px;
}
.content5 {
  top: 0;
  width: 966.5px;
  height: 24px;
}
.soft-ui-xd {
  top: 0;
  height: 43px;
}
.items1,
.lines-icon,
.soft-ui-xd {
  position: absolute;
  left: 0;
  width: 1012px;
}
.items1 {
  top: 46.5px;
  height: 334px;
}
.lines-icon {
  top: 27.5px;
  max-height: 100%;
}
.completion {
  position: absolute;
  top: 0;
  left: 841.5px;
  line-height: 150%;
  display: inline-block;
  width: 67px;
  height: 15px;
}
.budget6 {
  position: absolute;
  left: 664px;
  width: 42.5px;
}
.budget6,
.companies,
.members {
  top: 0;
  line-height: 150%;
  display: inline-block;
  height: 15px;
}
.members {
  position: absolute;
  left: 450px;
  width: 51.5px;
}
.companies {
  left: 0;
  width: 60px;
}
.companies,
.list1,
.titles {
  position: absolute;
}
.titles {
  top: 0;
  left: 0;
  width: 908.5px;
  height: 15px;
  font-size: var(--font-size-3xs);
  color: var(--gray-gray-400);
}
.list1 {
  top: 107px;
  left: 22.5px;
  width: 1012px;
  height: 380.5px;
}
.done-this-month-container {
  position: absolute;
  top: 31px;
  left: 19.5px;
  line-height: 140%;
  display: inline-block;
  width: 121.5px;
  height: 19.5px;
}
.ioniconccheckmarkccircle1 {
  position: absolute;
  top: 33px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.projects {
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  width: 71.5px;
  height: 25px;
}
.icon12,
.projects,
.text1 {
  position: absolute;
}
.text1 {
  top: 28px;
  left: 21px;
  width: 141px;
  height: 50.5px;
  color: var(--gray-gray-400);
}
.icon12 {
  top: 22.5px;
  left: 1014.5px;
  width: 20px;
  height: 20px;
}
.content-cards,
.first-card {
  position: absolute;
  height: 519px;
}
.first-card {
  top: 0;
  left: 0;
  width: 1057px;
  font-size: var(--font-size-sm);
  color: var(--gray-gray-700);
}
.content-cards {
  top: 991px;
  left: 31.5px;
  width: 1600px;
}
.rectangle-div {
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
}
.background3,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 924px;
  height: 445px;
}
.in-2021 {
  color: var(--gray-gray-400);
}
.more-in-2021-container {
  position: absolute;
  top: 31px;
  left: 0.5px;
  line-height: 140%;
  display: inline-block;
  width: 113.5px;
  height: 19.5px;
}
.sales-overview,
.text2 {
  position: absolute;
  width: 129.5px;
}
.sales-overview {
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  height: 25px;
}
.text2 {
  top: 28px;
  left: 21px;
  height: 50.5px;
}
.dec,
.nov {
  top: 0;
  line-height: 150%;
  display: inline-block;
}
.dec {
  position: absolute;
  left: 824px;
  width: 18.5px;
  height: 15px;
}
.nov {
  left: 748px;
  width: 19px;
}
.nov,
.oct,
.sep {
  position: absolute;
  height: 15px;
}
.oct {
  top: 0;
  left: 674px;
  line-height: 150%;
  display: inline-block;
  width: 17px;
}
.sep {
  left: 598.5px;
  width: 18.5px;
}
.aug,
.jul,
.sep {
  top: 0;
  line-height: 150%;
  display: inline-block;
}
.aug {
  position: absolute;
  left: 522px;
  width: 19.5px;
  height: 15px;
}
.jul {
  left: 450.5px;
  width: 14.5px;
}
.jul,
.jun,
.may {
  position: absolute;
  height: 15px;
}
.jun {
  top: 0;
  left: 375.5px;
  line-height: 150%;
  display: inline-block;
  width: 18px;
}
.may {
  left: 299px;
  width: 19.5px;
}
.apr,
.feb,
.mar,
.may {
  top: 0;
  line-height: 150%;
  display: inline-block;
}
.apr {
  position: absolute;
  left: 224.5px;
  width: 17.5px;
  height: 15px;
}
.feb,
.mar {
  width: 18px;
}
.mar {
  position: absolute;
  left: 149.5px;
  height: 15px;
}
.feb {
  left: 74.5px;
}
.feb,
.horizontal,
.jan {
  position: absolute;
  height: 15px;
}
.jan {
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 17.5px;
}
.horizontal {
  top: 281.5px;
  left: 41px;
  width: 842.5px;
}
.b11,
.b12,
.b13,
.b14,
.b15,
.b16 {
  position: absolute;
  top: 250px;
  left: 11px;
  line-height: 150%;
  display: inline-block;
  width: 6px;
  height: 15px;
}
.b12,
.b13,
.b14,
.b15,
.b16 {
  top: 200px;
  left: 0;
  width: 17px;
}
.b13,
.b14,
.b15,
.b16 {
  top: 150px;
}
.b14,
.b15,
.b16 {
  top: 100px;
}
.b15,
.b16 {
  top: 50px;
}
.b16 {
  top: 0;
}
.lines-child,
.lines-child1,
.lines-child2,
.lines-child3,
.lines-inner,
.lines-item {
  position: absolute;
  top: 250px;
  left: 0;
  border-top: 1px dashed var(--gray-gray-200);
  box-sizing: border-box;
  width: 841px;
  height: 1px;
}
.lines-child1,
.lines-child2,
.lines-child3,
.lines-inner,
.lines-item {
  top: 200px;
}
.lines-child1,
.lines-child2,
.lines-child3,
.lines-inner {
  top: 150px;
}
.lines-child1,
.lines-child2,
.lines-child3 {
  top: 100px;
}
.lines-child2,
.lines-child3 {
  top: 50px;
}
.lines-child3 {
  top: 0;
}
.lines,
.vertical {
  position: absolute;
  top: 7.5px;
  left: 41px;
  width: 840px;
  height: 250px;
}
.vertical {
  top: 0;
  left: 0;
  width: 881px;
  height: 265px;
}
.data,
.graph,
.lines-icon1 {
  position: absolute;
  top: 7.5px;
  left: 41px;
  width: 840px;
  height: 249.8px;
}
.data,
.graph {
  top: 0;
  left: 0;
  width: 883.5px;
  height: 296.5px;
}
.graph {
  top: 119.5px;
  left: 21.5px;
  font-size: var(--font-size-3xs);
  color: var(--gray-gray-300);
}
.second-card1 {
  position: absolute;
  top: 0;
  left: 676px;
  width: 924px;
  height: 445px;
}
.background-child1 {
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
}
.background-child1,
.background4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 652px;
  height: 445px;
}
.progress-icon {
  position: absolute;
  top: 65.5px;
  left: 1px;
  max-height: 100%;
  width: 100px;
}
.b17,
.items3 {
  position: absolute;
  top: 0;
  left: 35.5px;
  line-height: 150%;
  display: inline-block;
  width: 31.5px;
  height: 18px;
}
.b17 {
  top: 27px;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 140%;
  color: var(--gray-gray-700);
  width: 30.5px;
  height: 25px;
}
.icon-child,
.text3 {
  position: absolute;
  top: 3.5px;
  left: 0;
  width: 67px;
  height: 52px;
}
.icon-child {
  top: 0;
  border-radius: 6px;
  background-color: var(--neoris-blu);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 25px;
  height: 25px;
}
.ioniconbbuilddefault {
  position: absolute;
  top: 6.3px;
  left: 6.3px;
  width: 12.5px;
  height: 12.5px;
  overflow: hidden;
}
.icon13,
.items2 {
  position: absolute;
  top: 0;
  left: 0.5px;
  width: 25px;
  height: 25px;
}
.items2 {
  left: 468px;
  width: 101px;
  height: 65.5px;
}
.progress-icon1 {
  position: absolute;
  top: 65.5px;
  left: 1px;
  max-height: 100%;
  width: 100px;
}
.sales1 {
  position: absolute;
  top: 0;
  left: 35.5px;
  line-height: 150%;
  display: inline-block;
  width: 31.5px;
  height: 18px;
}
.b18,
.icon14,
.text4 {
  position: absolute;
  left: 0;
}
.b18 {
  top: 27px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  width: 55.5px;
  height: 25px;
}
.icon14,
.text4 {
  top: 3.5px;
  width: 67px;
  height: 52px;
}
.icon14 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 4px;
  transform: scale(1.44);
}
.sales,
.wrapper-icon {
  position: absolute;
  top: 0;
}
.wrapper-icon {
  left: 0.5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales {
  left: 312px;
  width: 101px;
  height: 65.5px;
}
.progress-icon2 {
  position: absolute;
  top: 65.5px;
  left: 1px;
  max-height: 100%;
  width: 100px;
}
.clicks1 {
  position: absolute;
  top: 0;
  left: 35.5px;
  line-height: 150%;
  display: inline-block;
  width: 35.5px;
  height: 18px;
}
.icon15,
.m,
.text5 {
  position: absolute;
  left: 0;
}
.m {
  top: 27px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  width: 51.5px;
  height: 25px;
}
.icon15,
.text5 {
  top: 3.5px;
  width: 71px;
  height: 52px;
}
.icon15 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 4px;
  transform: scale(1.44);
}
.wrapper-icon1 {
  position: absolute;
  top: 0;
  left: 0.5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clicks {
  position: absolute;
  top: 0;
  left: 156px;
  width: 101px;
  height: 65.5px;
}
.progress-icon3 {
  position: absolute;
  top: 65.5px;
  left: 1px;
  max-height: 100%;
  width: 100px;
}
.users1 {
  position: absolute;
  top: 0;
  left: 35.5px;
  line-height: 150%;
  display: inline-block;
  width: 33.5px;
  height: 18px;
}
.b19,
.icon16,
.text6 {
  position: absolute;
  left: 0;
}
.b19 {
  top: 27px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  width: 55.5px;
  height: 25px;
}
.icon16,
.text6 {
  top: 3.5px;
  width: 69px;
  height: 52px;
}
.icon16 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 4px;
  transform: scale(1.44);
}
.wrapper-icon2 {
  position: absolute;
  top: 0;
  left: 0.5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards,
.users {
  position: absolute;
  top: 0;
  left: 0;
  width: 101px;
  height: 65.5px;
}
.cards {
  top: 349px;
  left: 21.5px;
  width: 569px;
}
.than-last-week {
  color: var(--gray-gray-400);
}
.active-users,
.than-last-week-container {
  position: absolute;
  top: 31px;
  left: 0.5px;
  line-height: 140%;
  display: inline-block;
  width: 127px;
  height: 19.5px;
}
.active-users {
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--gray-gray-700);
  width: 109.5px;
  height: 25px;
}
.text7 {
  position: absolute;
  top: 262px;
  left: 21px;
  width: 127.5px;
  height: 50.5px;
  font-size: var(--font-size-sm);
  color: var(--green-green-400);
}
.background-child2 {
  border-radius: var(--br-xs);
  background: linear-gradient(81.62deg, #313860, #151928);
}
.background-child2,
.background5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 222px;
}
.lines-child4,
.lines-child5 {
  position: absolute;
  top: 54px;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  width: 7px;
  height: 99.5px;
}
.lines-child5 {
  top: 82.5px;
  left: 60px;
  height: 71px;
}
.lines-child10,
.lines-child11,
.lines-child12,
.lines-child6,
.lines-child7,
.lines-child8,
.lines-child9 {
  position: absolute;
  top: 115.5px;
  left: 120px;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  width: 7px;
  height: 38px;
}
.lines-child10,
.lines-child11,
.lines-child12,
.lines-child7,
.lines-child8,
.lines-child9 {
  top: 64.5px;
  left: 180px;
  height: 89px;
}
.lines-child10,
.lines-child11,
.lines-child12,
.lines-child8,
.lines-child9 {
  top: 0;
  left: 240px;
  height: 153.5px;
}
.lines-child10,
.lines-child11,
.lines-child12,
.lines-child9 {
  top: 27px;
  left: 300px;
  height: 126.5px;
}
.lines-child10,
.lines-child11,
.lines-child12 {
  top: 9px;
  left: 360px;
  height: 144.5px;
}
.lines-child11,
.lines-child12 {
  top: 64.5px;
  left: 420px;
  height: 89px;
}
.lines-child12 {
  top: 103.5px;
  left: 480px;
  height: 50px;
}
.lines1 {
  top: 33.5px;
  left: 98px;
  width: 487px;
  height: 153.5px;
}
.b20,
.b21,
.b22,
.lines1 {
  position: absolute;
}
.b20 {
  top: 144.5px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 6px;
  height: 15px;
}
.b21,
.b22 {
  width: 17px;
}
.b21 {
  top: 116px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  height: 15px;
}
.b22 {
  top: 87px;
}
.b22,
.b23,
.b24 {
  left: 0;
  line-height: 150%;
  display: inline-block;
  height: 15px;
}
.b23 {
  position: absolute;
  top: 58px;
  width: 17px;
}
.b24 {
  top: 29px;
}
.b24,
.b25,
.data1,
.graph1 {
  position: absolute;
  width: 17px;
}
.b25 {
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
  height: 15px;
}
.data1,
.graph1 {
  top: 31.5px;
  left: 30px;
  height: 159.5px;
}
.graph1 {
  top: 16px;
  left: 16px;
  width: 620px;
  height: 222px;
  font-size: var(--font-size-3xs);
  color: var(--blackampwhite-white);
}
.analytics-cards,
.first-card1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 652px;
  height: 445px;
  font-size: var(--font-size-xs);
  color: var(--gray-gray-400);
}
.analytics-cards {
  top: 522px;
  left: 31.5px;
  width: 1600px;
  font-size: var(--font-size-sm);
  color: var(--green-green-400);
}
.background-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.038);
}
.wrapper-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 654px;
  height: 290.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  position: relative;
  line-height: 12px;
}
.icon17 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs-5);
}
.div1,
.text9 {
  position: relative;
}
.text9 {
  font-size: var(--font-size-3xs);
  line-height: 150%;
  font-family: var(--font-helvetica);
  color: var(--blackampwhite-white);
}
.div1 {
  line-height: 12px;
}
.icon18 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs-5);
}
.button-body,
.height-structure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-body {
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.height-structure {
  height: 24px;
  align-items: center;
}
.content6 {
  width: 0;
  position: relative;
  background-color: var(--blackampwhite-white);
  height: 0;
}
.minwidth,
.width-structure {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.minwidth {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
}
.width-structure {
  flex-direction: column;
  align-items: center;
}
.buttonbase,
.buttondefaultlargelinkdefa {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonbase {
  border-radius: var(--br-11xs);
  height: 24px;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.buttondefaultlargelinkdefa {
  position: absolute;
  top: 0;
  left: 0;
  width: 50.5px;
  justify-content: center;
}
.ioniconaarrowforward {
  position: absolute;
  top: 6.5px;
  left: 55.5px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.link {
  position: absolute;
  top: 198.5px;
  left: 0.5px;
  width: 67.5px;
  height: 24px;
  text-align: center;
  color: var(--black-900);
  font-family: var(--font-font-awesome-5-free);
}
.it-is-all,
.wealth-creation-is {
  margin: 0;
}
.wealth-creation-is-container,
.work-with-the {
  position: absolute;
  top: 31px;
  left: 0.5px;
  font-size: var(--font-size-sm);
  line-height: 140%;
  display: inline-block;
  width: 384.5px;
  height: 39px;
}
.work-with-the {
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  width: 193px;
  height: 25px;
}
.text8 {
  position: absolute;
  top: 37.5px;
  left: 39px;
  width: 385px;
  height: 222.5px;
}
.first-card-child,
.second-card2 {
  position: absolute;
  top: 0.5px;
  left: 946px;
  width: 654px;
  height: 290.5px;
}
.first-card-child {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 922px;
}
.div2 {
  position: relative;
  line-height: 12px;
}
.icon19 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs-5);
}
.div3,
.text11 {
  position: relative;
}
.text11 {
  font-size: var(--font-size-3xs);
  line-height: 150%;
  font-family: var(--font-helvetica);
  color: var(--gray-gray-700);
}
.div3 {
  line-height: 12px;
}
.icon20 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs-5);
}
.button-body1,
.height-structure1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-body1 {
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.height-structure1 {
  height: 24px;
  align-items: center;
}
.content7 {
  width: 0;
  position: relative;
  background-color: var(--color-silver);
  height: 0;
}
.minwidth1,
.width-structure1 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.minwidth1 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
}
.width-structure1 {
  flex-direction: column;
  align-items: center;
}
.buttonbase1,
.buttondefaultlargelinkdefa1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonbase1 {
  border-radius: var(--br-11xs);
  height: 24px;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.buttondefaultlargelinkdefa1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50.5px;
  justify-content: center;
}
.ioniconaarrowforward1 {
  position: absolute;
  top: 6.5px;
  left: 55.5px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.link1 {
  position: absolute;
  top: 232px;
  left: 0.5px;
  width: 67.5px;
  height: 24px;
  text-align: center;
  color: var(--black-900);
  font-family: var(--font-font-awesome-5-free);
}
.from-colors-cards,
.you-will-find {
  margin: 0;
}
.from-colors-cards-container,
.purity-ui-dashboard {
  position: absolute;
  top: 52px;
  left: 0.5px;
  font-size: var(--font-size-sm);
  line-height: 140%;
  display: inline-block;
  width: 329.5px;
  height: 39px;
}
.purity-ui-dashboard {
  top: 21px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--gray-gray-700);
  width: 223.5px;
  height: 25px;
}
.built-by-developers {
  position: absolute;
  top: 0;
  left: 0.5px;
  font-size: var(--font-size-xs);
  line-height: 150%;
  display: inline-block;
  width: 111px;
  height: 18px;
}
.image-icon,
.text10 {
  position: absolute;
  top: 17.5px;
  left: 21px;
  width: 330px;
  height: 256px;
}
.image-icon {
  left: 544.5px;
  width: 360px;
  height: 255.5px;
  object-fit: contain;
}
.big-cards,
.first-card2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 922px;
  height: 290.5px;
  color: var(--gray-gray-400);
}
.big-cards {
  top: 207px;
  left: 31.5px;
  width: 1600px;
  height: 291px;
  font-size: var(--font-size-2xs);
  color: var(--blackampwhite-white);
}
.total-sales-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 382px;
  height: 80px;
}
.b26,
.b27,
.total-sales1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 63px;
  height: 18px;
}
.b26,
.b27 {
  top: 19px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  color: var(--gray-gray-700);
  width: 75.5px;
  height: 25px;
}
.b27 {
  top: 23px;
  left: 80.5px;
  font-size: var(--font-size-sm);
  color: var(--green-green-400);
  width: 28.5px;
  height: 19.5px;
}
.icon21,
.text12 {
  position: absolute;
  top: 17.5px;
  left: 21.5px;
  width: 109px;
  height: 44px;
}
.icon21 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 4px;
  transform: scale(1.244);
}
.wrapper-icon3 {
  position: absolute;
  top: 17.5px;
  left: 319.5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-clients-child,
.total-sales {
  position: absolute;
  top: 0;
  left: 1218px;
  width: 382px;
  height: 80px;
}
.new-clients-child {
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
}
.b28,
.b29,
.new-clients1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 68.5px;
  height: 18px;
}
.b28,
.b29 {
  top: 19px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  color: var(--gray-gray-700);
  width: 56px;
  height: 25px;
}
.b29 {
  top: 23px;
  left: 61px;
  font-size: var(--font-size-sm);
  color: var(--red-red-500);
  width: 33px;
  height: 19.5px;
}
.icon22,
.text13 {
  position: absolute;
  top: 17.5px;
  left: 21.5px;
  width: 94px;
  height: 44px;
}
.icon22 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 4px;
  transform: scale(1.244);
}
.wrapper-icon4 {
  position: absolute;
  top: 17.5px;
  left: 319.5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-clients,
.todays-users-child {
  position: absolute;
  top: 0;
  left: 812px;
  width: 382px;
  height: 80px;
}
.todays-users-child {
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
}
.b30,
.b31,
.todays-users1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 81px;
  height: 18px;
}
.b30,
.b31 {
  top: 19px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  color: var(--gray-gray-700);
  width: 45.5px;
  height: 25px;
}
.b31 {
  top: 23px;
  left: 50.5px;
  font-size: var(--font-size-sm);
  color: var(--green-green-400);
  width: 28.5px;
  height: 19.5px;
}
.icon23,
.text14 {
  position: absolute;
  top: 17.5px;
  left: 21.5px;
  width: 81px;
  height: 44px;
}
.icon23 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 4px;
  transform: scale(1.244);
}
.wrapper-icon5 {
  position: absolute;
  top: 17.5px;
  left: 319.5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todays-money-child,
.todays-users {
  position: absolute;
  top: 0;
  left: 406px;
  width: 382px;
  height: 80px;
}
.todays-money-child {
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
}
.b32,
.b33,
.todays-money1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 85.5px;
  height: 18px;
}
.b32,
.b33 {
  top: 19px;
  font-size: var(--font-size-lg);
  line-height: 140%;
  color: var(--gray-gray-700);
  width: 65.5px;
  height: 25px;
}
.b33 {
  top: 23px;
  left: 70.5px;
  font-size: var(--font-size-sm);
  color: var(--green-green-400);
  width: 36.5px;
  height: 19.5px;
}
.icon24,
.text15 {
  position: absolute;
  top: 17.5px;
  left: 21.5px;
  width: 107px;
  height: 44px;
}
.icon24 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: 4px;
  transform: scale(1.244);
}
.wrapper-icon6 {
  position: absolute;
  top: 17.5px;
  left: 319.5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.analytics-cards1,
.todays-money {
  position: absolute;
  top: 0;
  left: 0;
  width: 382px;
  height: 80px;
}
.analytics-cards1 {
  top: 103.5px;
  left: 31.5px;
  width: 1600px;
}
.addons,
.icon25 {
  position: relative;
  flex-shrink: 0;
}
.icon25 {
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.addons {
  width: 24px;
  line-height: 150%;
  display: none;
  align-items: center;
  height: 10.5px;
}
.addon,
.auto-added-frame {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addon {
  height: 20px;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs);
  box-sizing: border-box;
  gap: 5px;
}
.auto-added-frame {
  align-self: stretch;
  width: 37.5px;
  flex-shrink: 0;
  justify-content: center;
}
.type-here {
  width: 63.5px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  height: 18px;
  flex-shrink: 0;
}
.password-text-icon {
  width: 35px;
  position: relative;
  height: 3.5px;
  display: none;
}
.content8 {
  width: 0;
  position: relative;
  height: 0;
}
.inputfieldtext,
.minwidth2 {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.minwidth2 {
  flex-direction: row;
  align-items: center;
  padding: 0 74px;
}
.inputfieldtext {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-xs);
  color: var(--gray-gray-400);
}
.inputwithaddons {
  position: absolute;
  height: 100%;
  width: 59.4%;
  top: 0;
  right: 40.6%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  border: 0.5px solid var(--gray-gray-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ioniconppersondefault {
  width: 12px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.listitemdefault,
.sign-in {
  display: flex;
  align-items: center;
}
.sign-in {
  width: 66.5px;
  position: relative;
  line-height: 150%;
  height: 12px;
  flex-shrink: 0;
}
.listitemdefault {
  position: absolute;
  top: 11.5px;
  left: 217px;
  width: 58px;
  height: 16px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-xs);
  color: var(--gray-gray-500);
}
.ioniconnnotificationsdefaul,
.ioniconssettingssharp {
  position: absolute;
  top: 14px;
  left: 294px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.ioniconnnotificationsdefaul {
  left: 323px;
}
.menu1 {
  position: absolute;
  height: 75.96%;
  width: 21.5%;
  top: 0;
  right: 0;
  bottom: 24.04%;
  left: 78.5%;
}
.dashboard {
  position: absolute;
  top: 23.5px;
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 73.5px;
  height: 19.5px;
}
.span {
  color: var(--black-900);
}
.dashboard1 {
  font-size: var(--font-size-xs);
  color: var(--gray-gray-700);
  white-space: pre-wrap;
}
.breadcrumb1 {
  position: relative;
  line-height: 150%;
}
.breadcrumbitemprevious {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--gray-gray-400);
}
.text16 {
  position: absolute;
  top: 9px;
  left: 0;
  width: 73.5px;
  height: 43px;
  font-size: var(--font-size-sm);
  color: var(--gray-gray-700);
}
.breadcrumb {
  position: absolute;
  height: 3.29%;
  width: 94.22%;
  top: 1.42%;
  right: 2.87%;
  bottom: 95.28%;
  left: 2.9%;
  font-size: 7px;
  color: var(--black-900);
}
.main-dashboard,
.need-help-child {
  position: absolute;
  top: 0;
  left: 248.5px;
  width: 1653.5px;
  height: 1580px;
}
.need-help-child {
  top: 250.5px;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 246.5px;
  height: 214.5px;
}
.background-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 169.5px;
}
.div4 {
  position: relative;
  line-height: 12px;
}
.icon26 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs-5);
}
.div5,
.text17 {
  position: relative;
}
.text17 {
  width: 87.5px;
  font-size: var(--font-size-3xs);
  line-height: 150%;
  display: flex;
  font-family: var(--font-helvetica);
  color: var(--gray-gray-700);
  align-items: center;
  justify-content: center;
  height: 15px;
  flex-shrink: 0;
}
.div5 {
  line-height: 12px;
}
.icon27 {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs-5);
}
.button-body2,
.height-structure2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-body2 {
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.height-structure2 {
  height: 24px;
  align-items: center;
}
.content9 {
  width: 0;
  position: relative;
  background-color: var(--color-silver);
  height: 0;
}
.minwidth3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.width-structure2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonbase2,
.need-help1,
.please-check-our {
  position: absolute;
  display: flex;
  align-items: center;
}
.buttonbase2 {
  height: 20.65%;
  width: 85.32%;
  top: 69.91%;
  right: 7.34%;
  bottom: 9.44%;
  left: 7.34%;
  border-radius: var(--br-xs);
  background-color: var(--blackampwhite-white);
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.need-help1,
.please-check-our {
  top: 19.5px;
  left: 0.5px;
  line-height: 150%;
  width: 121px;
  height: 18px;
}
.need-help1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  width: 76px;
  height: 19.5px;
}
.text18 {
  position: absolute;
  top: 72.5px;
  left: 16px;
  width: 121.5px;
  height: 37.5px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--blackampwhite-white);
  font-family: var(--font-helvetica);
}
.icon-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--blackampwhite-white);
  width: 35px;
  height: 35px;
}
.ioniconhhelpcircle {
  position: absolute;
  top: 5.5px;
  left: 5.5px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icon28 {
  position: absolute;
  top: 16px;
  left: 16.5px;
  width: 35px;
  height: 35px;
}
.background-parent,
.need-help {
  position: absolute;
  top: 0;
  left: 17px;
  width: 218px;
  height: 169.5px;
}
.need-help {
  top: 550.5px;
  left: 0;
  width: 246.5px;
  height: 465px;
  text-align: center;
  font-family: var(--font-font-awesome-5-free);
}
.sign-up-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 30px;
  height: 30px;
}
.ioniconrrocketsharp {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.sign-up1 {
  position: absolute;
  top: 6px;
  left: 42px;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 45.5px;
  height: 18px;
}
.sign-in-child,
.sign-up {
  position: absolute;
  top: 378px;
  left: 16px;
  width: 87.5px;
  height: 30px;
}
.sign-in-child {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 30px;
}
.ioniconddocumentdefault {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.sign-in2 {
  position: absolute;
  top: 6px;
  left: 42px;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 40.5px;
  height: 18px;
}
.profile-child,
.sign-in1 {
  position: absolute;
  top: 324px;
  left: 16px;
  width: 82.5px;
  height: 30px;
}
.profile-child {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 30px;
}
.ioniconppersondefault1 {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.profile1 {
  position: absolute;
  top: 6px;
  left: 42px;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 37.5px;
  height: 18px;
}
.account-pages,
.profile {
  position: absolute;
  top: 270px;
  left: 16px;
  width: 79.5px;
  height: 30px;
}
.account-pages {
  top: 228px;
  line-height: 150%;
  display: flex;
  color: var(--gray-gray-700);
  align-items: center;
  width: 105px;
  height: 18px;
}
.rtl-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 30px;
  height: 30px;
}
.ioniconbbuilddefault1 {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.rtl1 {
  position: absolute;
  top: 6px;
  left: 42px;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 23.5px;
  height: 18px;
}
.billing-child,
.rtl {
  position: absolute;
  top: 174px;
  left: 16px;
  width: 65.5px;
  height: 30px;
}
.billing-child {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 30px;
}
.ioniconccarddefault {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.billing1 {
  position: absolute;
  top: 6px;
  left: 42px;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 37px;
  height: 18px;
}
.billing,
.tables-child {
  position: absolute;
  top: 120px;
  left: 16px;
  width: 79px;
  height: 30px;
}
.tables-child {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 30px;
}
.ioniconsstatschart {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.tables1 {
  position: absolute;
  top: 6px;
  left: 42px;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 37.5px;
  height: 18px;
}
.dashboard-child,
.tables {
  position: absolute;
  top: 66px;
  left: 16px;
  width: 79.5px;
  height: 30px;
}
.dashboard-child {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 219.5px;
  height: 54px;
}
.dashboard-item {
  position: absolute;
  top: 12px;
  left: 16px;
  border-radius: var(--br-xs);
  background-color: var(--neoris-blu);
  width: 30px;
  height: 30px;
}
.ioniconhhomedefault {
  position: absolute;
  top: 19.5px;
  left: 23.5px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.dashboard3 {
  position: absolute;
  top: 18px;
  left: 58px;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 63px;
  height: 18px;
}
.dashboard2,
.menu2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 219.5px;
  height: 54px;
  color: var(--gray-gray-700);
}
.menu2 {
  top: 73px;
  left: 13.5px;
  height: 408px;
  font-size: var(--font-size-xs);
  color: var(--gray-gray-400);
}
.purity-ui-dashboard1 {
  position: absolute;
  top: 2px;
  left: 34px;
  line-height: 150%;
}
.logo-creative-tim-black-icon {
  position: absolute;
  height: 95.65%;
  width: 11.11%;
  top: 0;
  right: 88.89%;
  bottom: 4.35%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo {
  position: absolute;
  top: 0;
  left: 24px;
  width: 198px;
  height: 23px;
  font-size: var(--font-size-sm);
  color: var(--gray-gray-700);
}
.sidebar-child {
  position: absolute;
  top: 50.5px;
  left: 6.5px;
  max-height: 100%;
  width: 233.3px;
}
.sidebar {
  position: absolute;
  top: 44px;
  left: 0;
  width: 246.5px;
  height: 1015.5px;
  font-size: var(--font-size-2xs);
  color: var(--black-900);
}
.new-design {
  width: 100%;
  position: relative;
  height: 1580px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--gray-gray-400);
  font-family: var(--font-helvetica);
}
