.image-1-icon,
.image-2-icon {
  position: absolute;
  top: -195.3px;
  left: 757.6px;
  width: 1684.7px;
  height: 1836.6px;
  object-fit: contain;
}
.image-2-icon {
  top: 146.5px;
  left: -235.8px;
  width: 1496.4px;
  height: 1081.4px;
  object-fit: cover;
}
.bgcircle {
  position: absolute;
  top: -450.5px;
  left: calc(50% - 458.8px);
  border-radius: 50%;
  background-color: #9c6fff;
  filter: blur(495.48px);
  width: 1086.3px;
  height: 1061.6px;
  opacity: 0.1;
}
.formbox-child {
  position: absolute;
  top: 7.4px;
  left: calc(50% - 245.25px);
  width: 491.8px;
  height: 142.5px;
  overflow: hidden;
  opacity: 0.2;
}
.create-account {
  position: absolute;
  top: 74.3px;
  left: calc(50% - 104.05px);
  font-size: 29.7px;
  font-weight: 600;
  text-align: left;
}

.start-your-30 {
  position: absolute;
  top: 116.4px;
  left: calc(50% - 177.15px);
  font-family: var(--font-inter);
  color: var(--black-800);
  opacity: 0.5;
}
.sign-up-with {
  position: relative;
  font-weight: 500;
  z-index: 0;
}
.icongoogle {
  width: 22.3px;
  position: absolute;
  margin: 0 !important;
  top: 18.6px;
  left: 19.8px;
  height: 22.3px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.signupbuttons,
.signupwaybutton {
  width: 371.6px;
  display: flex;
  align-items: center;
}
.signupwaybutton {
  border-radius: 9.91px;
  border: 1.2px solid var(--black-500);
  box-sizing: border-box;
  height: 59.5px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: var(--gap-lgi-8);
}
.signupbuttons {
  position: absolute;
  top: 167.2px;
  left: calc(50% - 185.85px);
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs-9);
  font-size: var(--font-size-lgi-8);
}
.border,
.or {
  position: relative;
}
.border {
  flex: 1;
  background-color: var(--black-900);
  height: 1.2px;
  opacity: 0.2;
}
.or {
  font-weight: 500;
}
.ordivider {
  position: absolute;
  top: 325.8px;
  left: calc(50% - 185.85px);
  width: 371.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs-9);
  opacity: 0.5;
  font-family: var(--font-inter);
}
.create-account1 {
  position: relative;
  font-weight: 600;
}
.button {
  position: absolute;
  top: 589.6px;
  left: calc(50% - 151.85px);
  border-radius: 9.91px;
  background-color: var(--black-900);
  width: 371.6px;
  height: 59.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 39.6px;
  box-sizing: border-box;
  font-size: var(--font-size-lgi-8);
  color: var(--blackampwhite-white);
}
.log-in {
  text-decoration: underline;
  font-weight: 600;
  color: var(--neoris-blu);
}
.already-have-an-container {
  position: absolute;
  bottom: 74.6px;
  left: calc(50% - 126.35px);
  color: var(--black-700);
}
.johndoemailcom {
  position: absolute;
  top: calc(50% - 11.15px);
  left: 19.8px;
  opacity: 0.75;
}
.input1 {
  align-self: stretch;
  position: relative;
  border-radius: 9.91px;
  border: 1.2px solid var(--black-500);
  box-sizing: border-box;
  height: 54.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.input {
  width: 371.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.eye {
  position: absolute;
  top: calc(50% - 17.45px);
  right: 185.7px;
  opacity: 0.5;
}
.passwordtext-child {
  width: 7.4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--black-900);
  height: 7.4px;
}
.passwordtext {
  position: absolute;
  top: 23.5px;
  left: 19.8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  opacity: 0.75;
}
.input3 {
  align-self: stretch;
  position: relative;
  border-radius: 9.91px;
  border: 1.2px solid var(--black-500);
  box-sizing: border-box;
  height: 54.5px;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--black-700);
  font-family: var(--font-font-awesome-6-pro);
}
.signupforms {
  position: absolute;
  top: 366.7px;
  left: calc(50% - 185.85px);
  width: 371.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi-8);
  text-align: left;
}
.formbox {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 19.82px;
  background: linear-gradient(180deg, #fbfafb, #fff);
  box-shadow: 0 0 37.16px rgba(205, 198, 219, 0.3);
  border: 7.4px solid var(--blackampwhite-white);
  box-sizing: border-box;
  height: 765.5px;
}
.logo-icon {
  position: absolute;
  top: -66.9px;
  left: calc(50% - 75.55px);
  width: 152.4px;
  height: 121.4px;
  overflow: hidden;
  object-fit: contain;
}
body {
  zoom: 0.95;
}
.icon-dark-11 {
  position: absolute;
  top: -39.6px;
  left: 393.9px;
  width: 84.2px;
  height: 73.1px;
  object-fit: cover;
}
.formboxwrapper {
  position: absolute;
  top: 367px;
  left: 561.9px;
  border-radius: 19.82px;
  border: 1.2px solid rgba(205, 198, 219, 0.2);
  box-sizing: border-box;
  width: 874.5px;
  height: 891.9px;
}
.neoris-all-rights {
  position: absolute;
  top: 1285.6px;
  left: calc(50% - 64.5px);
  font-size: 14.9px;
  color: var(--black-700);
  white-space: pre-wrap;
  display: inline-block;
  width: 281.2px;
  height: 68.1px;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-400);
  height: 1462.9px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mid-3);
  color: var(--black-900);
  font-family: var(--font-outfit);
}
