@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Previene el scroll horizontal */
}

.images-container {
  display: flex;
  width: 100%;
  height: 100vh; /* Ajusta esto según lo que necesites */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca las imágenes detrás del contenido */
  background-color: #1B242A;
}


.image-1-icon, .image-2-icon {
  width: 50%;
  height: 100vh; /* O ajusta a la altura deseada */
  object-fit:contain; /* Asegura que la imagen cubra el área completa, cortándose si es necesario */
}


.container {
  position: relative; /* Permite que el contenedor use su propio contexto de posicionamiento */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* El fondo se hace transparente para mostrar las imágenes */
  z-index: 10; /* Asegura que el formulario esté sobre las imágenes */
}


.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 480px;
  background-color: #ffffff;
  padding: 10px 30px;
  overflow: hidden;
}

.card_title {
  text-align: center;
  padding: 10px;
}

.logo-neoris {
  height: 50px;
}

.card_title h1 {
  font-size: 26px;
  font-weight: bold;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.form button {
  background-color: #4796ff;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  width: 100%;
}

.card_terms {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card_terms input[type="checkbox"] {
  background-color: #e2e2e2;
}

.card_terms span {
  margin: 5px;
  font-size: 13px;
}

.card a {
  color: #4796ff;
  text-decoration: none;
}

@media (max-width: 600px) {
  .card{
    width: 290px;
    height: 400px;
  }

  .logo-neoris {
    height: 35px;
  }

  .card_title h1 {
    font-size: 20px;
  }

  .form input {
    margin: 8px 0;
    padding: 8px 16px;
  }
  
  .form button {
    font-size: 14px;
    padding: 6px 13px;
  }
  
  .card_terms {
    padding: 8px;
  }
  
  .card_terms span {
    margin: 5px;
    font-size: 10px;
  }
  
}
